{% extends "base.html" %}
{% block index %}
<div class="ui container" id='dash_board'>
    <h3>
        <a href="http://www.clinicaltrials.gov" target="_blank">ClinicalTrials.gov</a> currently lists <span
            id="ctgov_number">{{nnct}}</span> studies
    </h3>
</div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui stackable very relaxed center aligned grid container">
    <h2 class="ui header">DQueST: Final Eligible Clinical Trials As Easy As Possible
    </h2>
    <div id='search_form_container' class='ui container'>
        <form class="ui form" id="search_form" name="">
            <div class="field">
                <label>Conditions or Disease (for example: breast cancer)</label>
                <div class="ui search">
                    <input class="prompt" name="term" id="first_focus" placeholder="Breast Cancer">
                </div>
            </div>
            <div class="field">
                <label>Location</label>
                <input class="input_field field_text" type="text" id="location_terms" value=""
                    placeholder="Los Angeles" />
            </div>

            <div class="ui secondary submit button" id="search_button">Search</div>
            <div class="ui button" id="advsearch_button">Advanced Search<i class="right chevron icon"></i></div>
            <div class="ui error message"></div>
        </form>
    </div>
</div>

<div class="ui hidden divider"></div>
<div id='adv_search_container' class='ui container' style="display:none">
    {% include "advsearch.html" %}
</div>
<div class="ui hidden divider"></div>
<div id="question_container" class="ui container" style="display:none">
    {% include "qform.html" %}
</div>
<div class="ui hidden divider"></div>
<div id='results_container' class="ui container" style="display:none">
    {% include "results.html" %}
</div>
{% endblock %}